/* varibles */
html {
  --blue-cl: #1f373d;
  --blue-light-cl: #919eb1;
  --yellow-cl: #ffcc01;
  --yellow-hover-cl: #ffe16a;
  --change-header-cl: #faf7e8;
  --white-cl: #ffff;
  --gray-bg-cl: #f6f5f4;
  --time-transition: 0.4s;
  --height-header: 80px;
  --gray-text-cl: #919eb1;
  --shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

  /* Font size */
  --fs-c1: 62px;
  --fs-special: 100px;
  --fs-c2: 40px;
  --fs-c3: 25px;
  --fs-c4: 18px;
  --fs-c5: 15px;
  /* Container */
  --max-width-contaienr: 1140px;
  --padding-container: calc((100vw - var(--max-width-contaienr) - 15px) / 2);
  scroll-behavior: smooth;
  /* Color */
}
/* Progress */
.progress-container {
  height: 6px;
  width: 100%;
}

.progress-container .progress-bar {
  background: var(--yellow-cl);
  display: block;
  height: 100%;
  width: 0%;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Common class */
body {
  width: 100%;
  max-width: 2560px;
  font-family: mr;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 30px;
  color: #1f3d3d;
  letter-spacing: -0.4px;
}
img {
  max-width: 100%;
}
.btnblue {
  height: 80px;
  background: var(--blue-cl);
  padding: 0 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-decoration: none;
  font-family: msb;
  font-size: var(--fs-c4);
  color: var(--white-cl);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  box-shadow: var(--shadow);
}
.btnblue:hover {
  background: var(--yellow-cl);
  color: var(--white-cl);
}
.btntotop {
  position: absolute;
  bottom: 33%;
  right: 5%;
  background: var(--change-header-cl);
  z-index: 3;
  padding: 30px 60px;
  outline: none;
  border: none;
  font-size: 18px;
  transition: var(--time-transition);

  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  opacity: 0.5;
}
.btntotop:hover {
  background: var(--yellow-cl);
  color: var(--white-cl);
}
.showBtn {
  opacity: 1;
}
.btnmain {
  background: var(--white-cl);
  color: var(--blue-cl);
  font-size: 15px;
  line-height: normal;
  text-decoration: none;
  height: 70px;
  border-radius: 5px;
  width: fit-content;
  padding: 0 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  box-shadow: var(--shadow);
}
.btnmain:hover {
  background: var(--yellow-cl);
  color: var(--white-cl);
}
.btnmain.--center {
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: var(--max-width-contaienr);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.--pd {
  padding: 80px 0;
}
.--gray-bg-cl {
  background: var(--gray-bg-cl);
}
.heading {
  font-size: var(--fs-c1);
  font-family: mb;
  line-height: 78px;
  color: var(--blue-cl);
}

.heading.--h2 {
  font-size: var(--fs-c2);
  line-height: 50px;
}
.heading.--h3 {
  color: var(--blue-cl);
  font-size: var(--fs-c3);
  font-family: msb;
  line-height: 28px;
}
.heading.--white-cl {
  color: var(--white-cl);
}
.textbox {
  margin-bottom: 40px;
  max-width: 360px;
}
.textbox .desc {
  margin-top: var(--fs-c4);
}
.--yellow-cl {
  color: var(--yellow-cl);
}

/* Header */
.header {
  position: -webkit-sticky;
  height: 94px;
  position: sticky;
  top: 0;
  z-index: 3;
  background: var(--white-cl);
  transition: 0.9s;
  width: 100%;
}
.bgGray {
  background: var(--change-header-cl);
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .header__menu {
  display: flex;
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
.header .header__logo {
  display: flex;
}
.header .header__menu li a {
  text-decoration: none;
  padding: 0 17px;
  color: var(--blue-cl);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.header .header__menu li a:hover {
  color: var(--yellow-cl);
}
.header .header__cta {
  display: flex;
}
.header .header__cta .header__cta-btn {
  text-decoration: none;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  border-radius: 5px;
  height: 40px;
  background: var(--yellow-cl);
  color: var(--blue-cl);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.header .header__cta .header__cta-btn:hover {
  background: var(--yellow-hover-cl);
}
.header .header__cta .header__cta-btn.--btn-transparent {
  background: none;
}
.header .header__cta .header__cta-btn.--btn-transparent:hover {
  color: var(--yellow-cl);
}

/* Hero */
.schero {
  height: calc(100vh - var(--height-header));
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 600px;
  /* top: 94px; */
}
.schero .container {
  z-index: 2;
  height: 100%;
}
.schero .schero__text {
  padding-top: 139px;
}
.schero .schero__text .heading {
  margin-bottom: 41px;
}
.schero .schero__text .schero__text-search {
  display: flex;
  align-items: center;
  height: 68px;
}
.schero .schero__text .schero__text-search .inputsearch {
  height: 100%;
  position: relative;
}

.schero .schero__text .schero__text-search .inputsearch i {
  position: absolute;
  display: flex;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
}
.schero .schero__text .schero__text-search .inputsearch input {
  width: 366px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
  border: 0;
  padding: 20px 20px 20px 55px;
  font-family: mr;
  color: var(--blue-cl);
  font-size: 15px;
}
.schero .schero__text .schero__text-search .inputsearch input::placeholder,
.schero
  .schero__text
  .schero__text-search
  .inputsearch
  input::-webkit-placeholder {
  color: var(--blue-light-cl);
}
.schero .schero__text .schero__text-search .btnsearch {
  height: 100%;
  background: var(--yellow-cl);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: msb;
  font-size: 15px;
  cursor: pointer;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.schero .schero__text .schero__text-search .btnsearch:hover {
  background: var(--yellow-hover-cl);
}
.schero .schero__scroll {
  position: absolute;
  left: -19px;
  bottom: 137px;
  transform: rotate(-90deg);
  text-align: center;
  color: #818181;
}
.schero .schero__scroll i {
  display: flex;
  transform: rotate(90deg);
  left: -35px;
  position: absolute;
}
.schero .schero__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.schero .schero__contact {
  display: flex;
  align-items: center;
  height: 80px;
  background: var(--yellow-cl);
  max-width: fit-content;
  position: absolute;
  bottom: 0;
  right: 15px;
  padding: 0 78px;
}
.schero .schero__contact .schero__contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  cursor: pointer;
}
.schero .schero__contact .schero__contact-item span {
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.schero .schero__contact .schero__contact-item:hover span {
  opacity: 0.6;
}
.schero .schero__contact .schero__contact-item i {
  margin-right: 30px;
  display: flex;
}
.schero .schero__contact a {
  text-decoration: none;
  color: var(--blue-cl);
  font-size: var(--fs-c4);
  font-family: msb;
}

.schero .schero__contact .schero__contact-item:first-child {
  padding-right: 33px;
}
.schero .schero__contact .schero__contact-item:last-child {
  padding-left: 33px;
}

/* sccompany */

.sccompany .container {
  display: flex;
  align-items: flex-start;
}
.sccompany .sccompany__content {
  width: 50%;
}
.sccompany .sccompany__boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  gap: 45px;
}

.sccompany .sccompany__boxs .sccompany__boxs-item {
  display: flex;
  width: 200px;
  height: 200px;
  background: var(--gray-bg-cl);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sccompany .sccompany__boxs .sccompany__boxs-item .sccompany__boxs-number {
  font-family: msb;
  line-height: 29px;
  margin-bottom: var(--fs-c4);
}
.sccompany .sccompany__boxs .sccompany__boxs-item .sccompany__boxs-text {
  font-family: msb;
  line-height: normal;
}

/* Apartments */

.thumbnail__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.scapp .textbox {
  max-width: 462px;
}

.thumbnail {
  width: calc(100% / 3 - 30px);
  margin: 0 15px 35px 15px;
  background: var(--white-cl);
  box-shadow: var(--shadow);
}

.thumbnail .img a {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-bottom: 120%;
  position: relative;
  display: block;
}

.thumbnail .img a img {
  width: 101%;
  height: 101%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.thumbnail .img a:hover img {
  transform: translate(-50%, -50%) scale(1.2);
}
.thumbnail .content .content__title a,
.thumbnail .content .content__agent a {
  height: 44px;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 4px;
  display: block;
  color: var(--blue-cl);
  font-family: msb;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.thumbnail .content .content__agent a {
  height: auto;
  margin-bottom: 12px;
}
.thumbnail .content .content__agent a:hover {
  opacity: 0.6;
}
.thumbnail .content .content__title a:hover {
  color: var(--blue-light-cl);
}

.thumbnail .content .content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail .content .content__info .content__info-price,
.thumbnail .content .content__info .content__info-name {
  font-size: var(--fs-c4);
  color: var(--yellow-cl);
  line-height: normal;
  font-family: msb;
  text-decoration: none;
}
.thumbnail .content .content__info .content__info-name {
  font-size: var(--fs-c5);
}
.thumbnail .content {
  padding: 24px 20px 30px 24px;
}
.thumbnail .content .content__info .content__info-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail .content .content__info .content__info-icons .item {
  display: flex;
  align-items: center;
}
.thumbnail .content .content__info .content__info-icons .item:first-child {
  margin-right: 22px;
}
.thumbnail .content .content__info .content__info-icons .item .icon {
  margin-right: 12px;
}

.thumbnail .content .content__info .content__info-icons .item .text {
  color: var(--gray-text-cl);
}
.scapp .btnmain {
  margin-top: 13px;
}

/* How it works */

.schitw .schitw__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.schitw .schitw__list .schitw__list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 15px;
  height: 374px;
  margin-right: 15px;
  background: var(--white-cl);
  color: var(--blue-cl);
  padding: 42px 78px 47px 42px;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.schitw .schitw__list .schitw__list-item .number {
  font-size: var(--fs-special);
  line-height: 68px;
  font-family: mb;
  color: #3f3f3f;
}

.schitw .schitw__list .schitw__list-item .title {
  font-family: msb;
  font-size: var(--fs-c4);
  line-height: normal;
  margin: 26px 0 22px 0;
}

.schitw .schitw__list .schitw__list-item .title span {
  margin-right: 5px;
}
.schitw .schitw__list .schitw__list-item .content {
  padding-left: 28px;
}

.schitw .schitw__list .schitw__list-item .content .link {
  color: var(--blue-cl);
  font-family: msb;
  text-decoration: none;
  display: inline-block;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  margin-top: 14px;
}

.schitw .schitw__list .schitw__list-item.--active {
  width: calc(100% / 3 - 30px);
  margin-left: 15px;
  height: 374px;
  margin-right: 15px;
  background: var(--yellow-cl);
  color: var(--white-cl);
  padding: 42px 78px 47px 42px;
}
.schitw .schitw__list .schitw__list-item.--active .number {
  color: var(--white-cl);
}

.schitw .schitw__list .schitw__list-item:hover {
  background: var(--yellow-cl);
  color: var(--white-cl);
}
.schitw .schitw__list .schitw__list-item:hover .content .link,
.schitw .schitw__list .schitw__list-item:hover .number {
  color: var(--white-cl);
}

.schitw .schitw__list .schitw__list-item .content .link:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}
.schitw .schitw__list .schitw__list-item:hover .content .link::after {
  background-color: var(--white-cl);
  height: 2px;
}
.schitw .schitw__list .schitw__list-item.--active .content .link {
  color: var(--white-cl);
}
.schitw .schitw__list .schitw__list-item.--active .content .link::after {
  background-color: var(--white-cl);
}
.schitw .schitw__list .schitw__list-item .content .link::after {
  width: 100%;
  display: block;
  content: "";
  background: var(--blue-cl);
  height: 2px;
  margin-top: 2px;
  transform: scaleX(1);
  transform-origin: left;
  transition: var(--time-transition) transform,
    var(--time-transition) background-color;
  -webkit-transition: var(--time-transition) transform,
    var(--time-transition) background-color;
  -o-transition: var(--time-transition) transform,
    var(--time-transition) background-color;
}
/* Services */
.scservices .scservices__content {
  display: flex;
  padding-bottom: 80px;
}
.scservices .scservices__content .scservices__content-img {
  width: 50%;
  height: 635px;
}
.scservices .scservices__content .scservices__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scservices .scservices__content .scservices__content-infos {
  width: 50%;
  padding-left: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 53px;
}
.scservices .scservices__content .scservices__content-infos .textbox {
  /* background: var(--blue-cl); */
  max-width: 100%;
  margin: 0;
}
.scservices .scservices__content .scservices__content-infos .textbox .desc {
  margin-top: 25px;
}

/* Agents */
.thumbnail .content .content__info .content__info-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail .content .content__info .content__info-social a {
  width: 18px;
  height: 18px;
  position: relative;
}

.thumbnail .content .content__info .content__info-social a:not(:last-child) {
  margin-right: 33px;
}

.thumbnail .content .content__info .content__info-social a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.thumbnail .content .content__info .content__info-social a img:first-child {
  opacity: 1;
}
.thumbnail .content .content__info .content__info-social a img:last-child {
  opacity: 0;
}
.thumbnail
  .content
  .content__info
  .content__info-social
  a:hover
  img:first-child {
  opacity: 0;
}
.thumbnail
  .content
  .content__info
  .content__info-social
  a:hover
  img:last-child {
  opacity: 1;
}

/* Location */
.sclocation .sclocation__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.sclocation .sclocation__row:nth-child(even) {
  flex-direction: row-reverse;
}
.sclocation .sclocation__row:not(:last-child) {
  margin-bottom: 80px;
}
.sclocation .sclocation__row .sclocation__row-item {
  width: calc(100% / 2 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.sclocation .sclocation__row .sclocation__row-img {
  position: relative;
}
.sclocation .sclocation__row .sclocation__row-img .img {
  display: flex;
}
.sclocation .sclocation__row .sclocation__row-item .location {
  position: absolute;
  bottom: -30px;
  left: 35px;
  z-index: 2;
  background: var(--yellow-cl);
  height: 80px;
  padding: 0 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sclocation .sclocation__row .sclocation__row-item .location .location__icon {
  flex-shrink: 0;
  margin-right: 30px;
}
.sclocation .sclocation__row .sclocation__row-item .location .location__text {
  font-size: var(--fs-c4);
  font-family: msb;
  color: var(--blue-cl);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.sclocation .sclocation__row .sclocation__row-content {
  padding-left: 95px;
  padding-top: 72px;
}
.sclocation
  .sclocation__row
  .sclocation__row-item
  .location:hover
  .location__text {
  opacity: 0.6;
}
.sclocation .sclocation__row .sclocation__row-content .heading {
  margin-bottom: 26px;
}
.sclocation .sclocation__row:nth-child(even) .sclocation__row-item .location {
  right: 34px;
  left: initial;
}
.sclocation .sclocation__row:nth-child(even) .sclocation__row-content {
  padding-left: 0px;
  padding-right: 95px;
  text-align: right;
}

.sclocation .sclocation__row:nth-child(3) .sclocation__row-content {
  padding-top: 23px;
}
.sclocation .sclocation__row:nth-child(3) .sclocation__row-content .btnblue {
  margin-top: 53px;
}

.scgetintouch {
  display: flex;
  padding-left: 15px;
}

.scgetintouch .scgetintouch__form {
  width: calc(665px + var(--padding-container));
  padding-left: var(--padding-container);
  padding-right: 220px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.scgetintouch .scgetintouch__form .forminput {
  margin-bottom: 15px;
}

.scgetintouch .scgetintouch__form .forminput input[type="text"],
.scgetintouch .scgetintouch__form .forminput textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--blue-light-cl);
  width: 100%;
  outline: 0;
  padding-bottom: 7px;
  font-family: mr;
  font-size: 13px;
  color: var(--blue-cl);
  background: var(--gray-bg-cl);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}
.scgetintouch .scgetintouch__form .forminput input[type="text"]:focus,
.scgetintouch .scgetintouch__form .forminput textarea:focus {
  border-bottom: 1px solid var(--blue-cl);
}
.scgetintouch .scgetintouch__form .forminput input::placeholder,
.scgetintouch .scgetintouch__form .forminput textarea::placeholder {
  color: var(--blue-light-cl);
}

.scgetintouch .scgetintouch__form .formselect {
  display: flex;
}
.scgetintouch .scgetintouch__form .formselect select {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--blue-light-cl);
  min-width: 50px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  outline: 0;
  padding-bottom: 5px;
  font-family: mr;
  font-size: 13px;
  color: var(--blue-light-cl);
  background: var(--gray-bg-cl);

  background-size: 10px;
  background-position: 25px 13px;
  cursor: pointer;
}

.scgetintouch .scgetintouch__form .forminput textarea {
  height: 130px;
  width: 100%;
  resize: none;
}

.scgetintouch .scgetintouch__form .forminput .title {
  font-family: msb;
  font-size: 15px;
  color: var(--blue-cl);
  margin-bottom: 3px;
}
.scgetintouch .scgetintouch__form .forminput .radiowrap {
  display: flex;
}
.scgetintouch .scgetintouch__form .forminput .radiowrap p {
  margin-right: 74px;
  accent-color: var(--blue-cl);
  display: flex;
  align-items: center;
  position: relative;
}
.scgetintouch .scgetintouch__form .forminput .radiowrap input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.scgetintouch
  .scgetintouch__form
  .forminput
  .radiowrap
  input[type="radio"]
  + label {
  padding-left: 20px;
  font-size: 13px;
  color: var(--blue-light-cl);
  display: flex;
  align-items: center;
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .radiowrap
  input[type="radio"]
  + label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid var(--blue-light-cl);
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
}
.scgetintouch
  .scgetintouch__form
  .forminput
  .radiowrap
  input[type="radio"]
  + label::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-cl);
  border-radius: 100%;
  position: absolute;
  left: 1px;
  background: var(--blue-cl);
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .radiowrap
  input[type="radio"]:not(:checked)
  + label::after {
  opacity: 0;
  transform: scale(0);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .radiowrap
  input[type="radio"]:checked
  + label::after {
  opacity: 1;
  transform: scale(1);
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
}

/* checked */

.scgetintouch .scgetintouch__form .forminput .checkboxwrap p {
  margin-right: 74px;
  accent-color: var(--blue-cl);
  display: flex;
  align-items: center;
  position: relative;
}
.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"]
  + label {
  padding-left: 20px;
  font-size: 13px;
  color: var(--blue-light-cl);
  display: flex;
  align-items: center;
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"]
  + label::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid var(--blue-light-cl);
  border-radius: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"]
  + label::after {
  content: "";
  width: 8px;
  height: 7px;

  position: absolute;
  left: 1px;
  background: url("../img/checked.png") no-repeat;
  background-size: contain;
  left: 3px;
}

.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"]:not(:checked)
  + label::after {
  opacity: 0;
}
.scgetintouch
  .scgetintouch__form
  .forminput
  .checkboxwrap
  input[type="checkbox"]:checked
  + label::before {
  opacity: 1;
}
/*  */

.scgetintouch .scgetintouch__form .btnblue {
  border: 0;
  width: 100%;
  height: 70px;
  cursor: pointer;
  margin-top: 32px;
}
.scgetintouch .scgetintouch__img {
  flex: 1;
  overflow: hidden;
}

.scgetintouch .scgetintouch__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
.footer {
  background-color: var(--blue-cl);
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.footer .footer__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 66px;
  border-bottom: 1px solid #8290a2;
  margin-bottom: 66px;
}

.footer .footer__top .footer__top-search {
  display: flex;
  width: 444px;
  height: 70px;
  border: 1px solid var(--blue-light-cl);
  margin-bottom: 4px;
}

.footer .footer__top .footer__top-search button {
  height: 100%;
  padding: 0 18px;
  background: var(--white-cl);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__top .footer__top-search input {
  flex: 1;
  height: 100%;
  padding: 0 20px;
  outline: none;
  font-size: 15px;
  color: var(--blue-cl);
  border: none;
  font-family: mr;
}
.footer .footer__top .footer__top-search input::placeholder,
.footer .footer__top .footer__top-search input:-webkit-placeholder {
  color: var(--blue-light-cl);
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__bottom .copyright {
  color: var(--white-cl);
  font-size: 14px;
  line-height: 20px;
  margin-top: 51px;
}

.footer__bottom .footer__bottom-right {
  display: flex;
  width: 66.666667%;
}
.footer__bottom .footer__bottom-right .submenu {
  flex: 1;
}
.footer__bottom .footer__bottom-right .submenu:not(:last-child) {
  padding-right: 30px;
}

.footer__bottom .footer__bottom-right .submenu .submenu__title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  margin-bottom: 28px;
  color: var(--blue-light-cl);
}
.footer__bottom .footer__bottom-right .submenu .submenu_list a {
  text-decoration: none;
  color: var(--white-cl);
  display: block;
  transition: var(--time-transition);
  -webkit-transition: var(--time-transition);
  -o-transition: var(--time-transition);
  padding-bottom: 6px;
}
.footer__bottom .footer__bottom-right .submenu .submenu_list a:hover {
  color: var(--yellow-cl);
}
